/untracked
_site
node_modules
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
Gemfile.lock
.bundle
.wakatime-project
.bib
.bibpaths
.Rmd
*.deb
*.docx
csl/
bibmerge.py
!/assets/bibmerge.py
.DS_Store

# Local Netlify folder
.netlify
